@font-face {
    font-family: "vectorb-webfont";
    src: url("fonts/vectorb-webfont.eot");
    src: url("fonts/vectorb-webfont.woff") format("woff"),
         url("fonts/vectorb-webfont.otf") format("opentype"),
         url("fonts/vectorb-webfont.svg#filename") format("svg");
}

button{
    border: 3px solid white;
    background-color: transparent;
    font-family: "vectorb-webfont";
    color: white;
    font-size: 40px;
    cursor: pointer;
    padding: 10px 14px;
    font-weight: 600;
    transition-duration: 0.5s;
}

button:hover{
    background-color:white;
    color: black;
}