@import url("global_settings.css");

body{
    position: relative;
    font-family: "vectorb-webfont";
    height: 100vh;
    background-color: black;
    overflow: hidden;
}

canvas{
    position: fixed;
    left: 0;
    top: 0;
    width: 50vw;
    height: 99vh;
    border: 1px solid white;
}

/*SCHERMATA INSERIMENTO NOME*/

#game, canvas{
    opacity: 0;
}

#name_selection{
    position: fixed;
    top: 0;
    left: 0;
    width: 50vw;
    height: 99vh;
    background-color:black;
    z-index: 7;
    border: 1px solid white;
    text-align: center;
}

#name_selection_wrapper{
    width: 50vw;
    text-align: center;
    margin-top: 35vh;
}


#insert_label{
    color: white;
    font-weight: 600;
    font-size: 3vw;
}

#nickname_input{
    position: relative;
    margin-top: -3vh;
    width:25vw;

    border: 0.3vh solid white;
    background-color: transparent;
    height: 4vh;
    font-family: "vectorb-webfont";
    font-size: 3vh;
    font-weight: 600;
    color: white;
    padding-left: 0.5vw;
    text-align: center;
}
#nickname_button{
 
    margin-top: 1vh;
    padding: 0.5vh 0.8vw;   
    font-size: 3.5vh;
}



/*--------------------------*/

#scores_wrapper{
    position: fixed;
    left: 50vw;
    top: 0;
    width: 50vw;
    height: 99vh;
    text-align: center;
    
}

#scores{
    color: white;
    
}


#title{
    margin: 1vh 1vw;
    font-size: 3.5vw;
    font-weight: 800;
}

#scores_table{
    font-weight: 600;
    font-size: 1.7vw;
    
    position: absolute;
    top: 14vh;
    left: 0;
    margin-left: 1vw;

}

#restart_game{
    position: absolute;
    top: 20vh;
    left: 0;
    visibility: hidden;
    z-index: 9;
    width: 50vw;
    text-align: center;
}

#restart_label{
    font-weight: 600;
    color: white;
    font-size: 5vw;
}


#restart_button{
    pointer-events: none;
    margin-top: -5vh;
    font-size: 2.5vw;
    transition-duration: 0ms;
}

#change_nickname_button{
    pointer-events: none;
    margin-top: 1vh;
    font-size: 2.5vw;
    transition-duration: 0ms;
}

#home_button{
    pointer-events: none;
    margin-top: 1vh;
    font-size: 2.5vw;
    transition-duration: 0ms;
}

