@import url("global_settings.css");


body {
    font-family: "vectorb-webfont";
    background: black;
    font-weight: 600;
    color: #999999;
    height: 100vh;
    overflow: hidden;
}
 
#can{
    height: 100vh;
    width: 100vw;
}

#about{
    z-index: 0;
}


#title_div{
    position: fixed;
    top: 0;
    left: 0;
    height: 20vh;
    width: 100vw;
    z-index: 1;
    text-align: center;
}

#title{
    font-weight: 900;
    font-size: 5vw;
    color: white;
    margin-top: 1vh;
}

#roberto_div{
    position: fixed;
    top: 20vh;
    width: 50vw;
    text-align: center;
}

#daniele_div{
    position:fixed;
    left: 50vw;
    top: 20vh;
    width: 50vw;
    text-align: center;
}

#profile_photo{
    width: 200px;
    height: 200px;
}

.name{
    font-size: 3.5vh;
    
}

.university{
    font-size: 2vh;
}

.profile_photo{
    width: 200px;
    height: 200px;
}

.social_link{
    width: 30px;
    height: 30px;
}