body{
    position: relative;
    font-family: "vectorb-webfont";
    height: 100vh;
    overflow: hidden;
    background-color: black;
}

canvas{
    position: fixed;
    left: 0;
    top: 0;
    width: 50%;
    height: 100%;
    border: 1px solid white;
}


#scores_wrapper{
    position: fixed;
    left: 50%;
    top: 0;
    width: 50%;
    height: 100%;
    text-align: center;
}

#scores{
    color: white;
    display: inline-block;
}


#title{
    font-size: 40px;
    font-weight: 800;
    text-align: center;
}

