@import url("global_settings.css");

* {
    font-family: "vectorb-webfont";
    
}

body{
    background-color: #000000;
    height: 100vh;
    overflow: hidden;
}


#welcome{
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    text-align: center;
}

h1{
    color: #FFFFFF;
    font-size: 15vh;
    margin-top: 30vh;
   
}



button:hover{
    background-color:white;
    color: black;
}

canvas{
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height:100vh;
}

#about{
  position: relative;
}
