* {
    font-family: "vectorb-webfont";
    
}

body{
    background-color: #000000;
    height: 100vh;
    overflow: hidden;
}


#welcome{
    position: absolute;
    left: 50vh;
    top: 20vh;
    z-index: 1;
  
}

h1{
    color: #FFFFFF;
    font-size: 15vh;
}

button{
    border: 3px solid white;
    background-color: transparent;
    color: white;
    font-size: 4vh;
    cursor: pointer;
    padding: 1vh 1.4vh;
    font-weight: 600;
    transition-duration: 0.5s;
    margin-left: 40vh;
}

button:hover{
    background-color:white;
    color: black;
}

canvas{
    position: fixed;
    top: 0;
    left: 0;
    border: 1px solid white;
    width:100%;
    height:100vh;
}